<!DOCTYPE html>
<html xmlns="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro Pessoa</title>
</head>
<body>
<a href="CadastroPessoa.html"><button>Cadastro</button></a>
<a href="ListaPessoa.html"><button>Listar Pessoas</button></a>
<a href="CadastroProduto.html"><button>Cadastro de Produto</button></a>
<a href="ListarProduto.html"><button>Listar Produtos</button></a>
	<fieldset>
		<legend>Cadastro Pessoas</legend>
			<form action="">
				<div>
					<label>Id:</label>
					<input type="text" readonly="readonly">
					<label>Nome:</label>
					<input type="text">
				</div>
				<br>
				<br>
				<div>
					<label>E-mail:</label>
					<input type="text" readonly="readonly">
					<label>Telefone:</label>
					<input type="text">
				</div>
				<br>
				<br>
				<div>
					<label>Senha:</label>
					<input type="password" readonly="readonly">
					<label>Confirmar Senha:</label>
					<input type="password">
				</div>
				<br>
				<div>
				<button type="submit">Cadastrar</button>
				<button type="reset">Limpar</button>				
				</div>
			</form>
	</fieldset>

</body>
</html>